// COLORS
$color-primary: #4c4e54;
$color-primary-light: #adadad;
$color-primary-dark: #545454;

$color-secondary: #9899a2;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-white: #fff;
$color-black: #000;

$color-error: #dc3545;
$color-success: #21ba45;
$color-warning: #fbbd08;
$color-info: #767676;

$background: #f5f7f9;

// FONT
$default-title-size: 14px;
$default-font-size: 12px;
$default-primary-font: "Quicksand", sans-serif;
$default-secondary-font: "Atkinson Hyperlegible Next", sans-serif;

// [9:39 p.m., 26/3/2025] Christos: base #f5f7f9
// [9:39 p.m., 26/3/2025] Christos: card #ffffff
// [9:39 p.m., 26/3/2025] Christos: primary #4c4e54
// [9:39 p.m., 26/3/2025] Christos: secondary icon #999aa3
// [9:39 p.m., 26/3/2025] Christos: secondary #4f525e
// [10:26 p.m., 26/3/2025] Christos: inputs inter #ebedee
// [10:26 p.m., 26/3/2025] Christos: icon input #92949a
// [10:26 p.m., 26/3/2025] Christos: primary text #424349
// [10:26 p.m., 26/3/2025] Christos: https://dribbble.com/shots/24455638-Financial-Dashboard