.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.sidebar {
  width: 15vw;
  background-color: #384a52;
  text-align: center;

  &__sidebarRouteContainer {
    text-align: center;
    display: flex;
  }

  &__sidebarRoute {
    display: flex;
    align-items: center;
    padding: 0.7rem;
    text-transform: none;
    text-decoration: none;
    color: white;
    width: 100%;
    cursor: pointer;
    user-select: none;

    &--button {
      background-color: #384a52;
      border: 1px solid #2d3e44;

      &__active {
        background-color: #4c6571;
      }
    }

    &--button:hover {
      background-color: #4c6571;
    }
  }
}

.sideMainContainer {
  width: 85vw;
}

.mainContent {
  min-height: 80vh;
  max-width: 100vw;
  padding: 0.7rem 1.2rem;
}

.footerContent {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}